#review-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-between;
  align-items: center;
}

.each-review {
  list-style: none;
  margin: 20px;
}

.review-image {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  box-shadow: 0 0 15px black;
}
.review {
  list-style: none;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-content: space-between;
  align-items: center;
  background-color: #b85b42;
  color: #f2f5ef;
  margin: 50px;
}

.author {
  text-decoration: underline; 
  display: inline-block;
  padding: 5px 10px; 
  background-color: lightgray; 
}